.slider-gallery-container {
    background-color: black;  
}

.slider {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin:0;
    padding: 150px 0 50px 0 ;
}

.slider-image {
    width: 70vw;
    /* height: 65vh; */
    /* min-height: 40vh; */
    border-radius: 20px;
    /* margin-top: 80px; */
  }

.slider-image-caption {
    position: absolute;
    bottom: 1em;
    left: 0;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    width: 100%;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center; 
}
  
.fa-chevron-circle-right {
      position: absolute;
      top: 50%;
      right: 32px;
      font-size: 3rem;
      color: white;
      z-index: 10;
      cursor: pointer;
      user-select: none;
  }

.fa-chevron-circle-left {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.10);
}

