.service1-container {
    background-color: white;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    /* margin-top: 80px; */
  }

  .relax-kids-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/relaxServicesHero.png");
    min-height: 55vh ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border-bottom: solid 1px black; */
}

.relax-kids-hero-text {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 5%;
  /* transform: translate(-60%, -50%); */
  color: white;
  /* border-left: groove 8px #FCDC4D */
  }

.relax-kids-hero-title { 
  /* font-family: 'Marcellus SC', serif; */
  display: inline;
  font-family: 'Encode Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
  padding-left: 20px;
  line-height: normal;
  text-align: left; 
}

.relax-kids-content {
  padding: 30px 40px 0px 40px;
}

  .relax-kids-container{
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }

  .relax-kids-logo {
    width: 90px;
    justify-self: start;
  }

  .rainbow-icon {
    display: inline;
    height: 50px;
  }
