.service1-container {
    background-color: white;
    font-size: 18px;
    line-height: 1.25;
    text-align: justify;
  }

  .relax-kids-container{
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }

  .relax-kids-logo {
    width: 100px;
    justify-self: start;
  }

  