.main-footer {
    color: white;
    background-color: #1F2041;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;
    color: white;
    font-size: 14px;
}

.footer-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 80px;
    text-align: center;
}
.footer-list {
    list-style-type: none;
}





/* .footer-container a{
      color: white;
}

.footer-container a:hover{
    color: #119da4;
} */


