.footer-container{
    background: #1F2041;
    /* background: transparent; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 30px;
    width: 100%;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-container a{
      color: white;
}

.footer-container a:hover{
    color: #119da4;
}

.footer-container i {
    font-size: 2.2rem;
}