@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Wire+One&display=swap');

.navbar {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 10;
  }

  .navbar.active {
    background-image: linear-gradient(rgba(31, 32, 65, 0.9), rgba(31, 32, 65, 0.9))
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 90vw;
    justify-content: end;
    margin-right: 30px;
    z-index: 1;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 16px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
  }
  
  .nav-links:hover {
    background-color: #119da4;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: white;
  }

  .menu-icon {
    display: none;
  }
  .fa-caret-down {
    margin-left: 5px;
  }

  .navbar-logo {
    justify-self: start;
    /* margin-left: 20px; */
    cursor: pointer;
    text-decoration: none;
    /* font-size: 32px; */
    height: 90px;
    margin: 0px 0px 10px 20px;
  }
  
  @media screen and (max-width: 960px) {

    .NavbarItems {
      position: relative;
    }

    .navbar {
      background-color: #242222
    }

    .navbar.active {
      background-image: none;
      background-color: #242222
    }

    .nav-menu {
      display: block;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu.active {
      background-color: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      position: absolute;
    }
  
    .nav-links {
      text-align: center;
      padding: 32px;
      width: 100%;
      display: table;
      margin: 0;
    }
  
    .nav-links:hover {
      background-color: #119da4;
      border-radius: 0;
    }
  
    /* .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
      margin-left: 10px;
    } */
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 30px;
      cursor: pointer;
    }
  
    .fa-times {
      color: white;
      font-size: 32px;
    }
    
  }

  
  