
  .partner-gallery-container {
    height: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 30px;

  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    align-items: center; 
    justify-content: center; 
    text-align: center;
  }
  .logo-container {
      margin-left: auto;
      margin-right: auto;
  }
  
  img {
      width: 65%;
      
  }


  .footer-container{
    /* border: solid 1px black; */
    background: #1F2041;
    height: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 30px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.footer-item {
    display: flex;
    align-items: center;
  }