
  .partner-gallery-container {
    background-color: white;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #5a5a5a;
    line-height: 1.5;
    text-align: justify;
    padding: 15px 40px;

  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    grid-gap: 10px;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-top: 20px;
  }
  .logo-container {
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
  }
  
 .partner-logo {
      /* width: 60%; */
      height: 100px;
      padding: 10px;    
  }