
  .top {
  position: fixed;
	width: 50px;
	height: 50px;
	bottom: 40px;
	right: 40px;
	background-color: #119da4;
	color: #FFF;
	border-radius: 50px;
	box-shadow: 2px 2px 3px #999;
  z-index: 100;
  font-size: 26px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* html {
  scroll-behavior: smooth;
} */

.my-float {
	/* margin-top: 22px; */
}

.top {
  scroll-behavior: smooth;
}
  