@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* html {
  scroll-behavior: smooth;
} */
/* .app{
  min-height: 100vh;
} */

.green-content {
  height: auto;
  background:#119DA4;
  position:relative;
  color: white;
  padding: 15px 40px;
}
.green-diagonal{
  width: 0;
  height:0;
  border-bottom: 50px solid #119DA4;
  border-left: 100vw solid transparent;
}

.sapphire-diagonal{
   width: 0;
   height:0;
   border-top: 50px solid #119DA4;
   border-left: 100vw solid transparent;
}

.sapphire-content{
  height: auto;
  background:#175f77;
  overflow:hidden;
  position:relative;
  color: white;
}
.sapphire-text{
  height: auto;
  color: white;
  padding: 15px 40px;
  margin-bottom: 50px;
}

.white-diagonal{
   width: 0;
   height:0;
   position: absolute;
   bottom: 0px;
   border-bottom: 50px solid white;
   border-left: 100vw solid transparent;
}

.white-content{
  height: auto;
  background: white;
  overflow:hidden;
  color: #5a5a5a;
  padding: 15px 40px;
}

hr {
  width: 70%;
  margin: 0 auto;
  /* border-top: 15px solid #1F2041; */
  /* border-radius: 5px; */
  /* margin-bottom: 0px; */
}

.rkhr {
  margin: 30px 0px;
  transform: scaleX(-1);
}

.privacy-container {
  background-color: white;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  text-align: justify;
  
}

.privacy-content-container {
  padding: 100px 30px 30px 30px; 
}

.nav-block {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #1F2041;
}

h1 {
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Wire One', sans-serif; 
  font-size: 60px;
}
h2 {
  text-align: left;
  font-family: 'Encode Sans', sans-serif;
  font-size: 30px;
}
h3 {
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
}
h4 {
    font-family: 'Wire One', sans-serif; 
    margin-bottom: 10px;
}


p {
  margin-bottom: 10px;
}

figure > .fig__media {
  width: 350px;
  border: 1px solid black;
  border-radius: 4px;
  opacity: 0.8;
}

figure {
  border: none;
  margin: 10px 0 10px 15px;
  position: relative;
  float: right;
}

figure > .image-caption-text {
  position: absolute;
  bottom: 1em;
  left: 0;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  width: 100%;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}

blockquote{
  font-size: 18px;
  width: 95%;
  margin: 25px auto;
  font-family: 'Schoolbell', cursive;
  color: #5a5a5a;
  padding: 20px 30px 20px 75px;
  border-left: 10px solid #412468 ;
  border-right: 0.5px solid black;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 1.3;
  position: relative;
  background-image: linear-gradient(white, #f2eafd);
  border-radius: 4px;
}
blockquote::before{
  font-family: Arial;
  font-style: italic;
  content: "\201C";
  color:#412468;
  font-size: 90px;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span {
  display: block;
  color: #5a5a5a;
  font-style: normal;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Schoolbell', cursive;
}

.internal-contact-link{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.internal-contact-link:hover{
  color: inherit;
  text-decoration: underline;
}





.accordion {
  max-width: 85%;
  margin: 2rem auto;
  border: 1px solid rgb(224, 224, 224);
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #175f77;
  color: white;
}

.accordion-title:hover {
  background-color: #119da4;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: whitesmoke;
}

.accordion-title-content{
  font-size: 16px;
}
.accordion-title-expander{
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}


